/* gneral start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
span,
a {
  display: inline-block;
}

/* genral end */
body {
  font-family: "Chakra Petch", sans-serif;
  font-family: "Days One", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Days One", sans-serif;
}
a,
p,
label,
button {
  font-family: "Chakra Petch", sans-serif;
}
:root {
  --dark-color: #0b0e13;
  --main-color: #cbfe1c;
  --white-color: #f1f1f1;
  --dark-gray:#1A1A1A;
}
.dark-bg-gray{
background-color: var(--dark-gray);    
}
.main-color {
  color: var(--main-color);
}
.main-bg-color {
  background-color: var(--main-color);
}

/* navbar */
.navbar {
  background-color: var(--dark-color);
  --bs-navbar-color: var(--white-color);
  --bs-navbar-hover-color: var(--main-color);
  --bs-navbar-brand-color: var(--main-color);
  --bs-navbar-brand-hover-color: var(--main-color);
  --bs-navbar-active-color: var(--main-color);
}

.navbar-toggler:hover span {
  color: var(--main-color);
}
.nf-nav {
  color: white;
}
.sp1:hover {
  color: var(--main-color);
}
.sp2:hover {
  color: var(--main-color);
}

.btnn.btn {
  background-color: var(--main-color);
}
.btnn.btn:hover {
  background-color: var(--main-color);
  color: #0b0e13;
}

.btn-shine {
  position: relative;
  overflow: hidden;
}

.btn-shine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-20deg);
  transition: 0.5s;
}

.btn-shine:hover::before {
  left: 120%;
}
/* End navbar */

/* hero section */
#hero-section {
  background-image:
    linear-gradient(to left, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)),
    url(../images/hero-bg.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;

  .h1-fs {
    font-size: 60px;
    font-weight: 700;
  }
  .btn1 {
    color: var(--dark-color);
    background-color: var(--main-color);
    border: none;
  }
  .btn2 {
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    transition: 0.3s;

    &:hover {
      background-color: var(--main-color);
      color: var(--dark-color);
    }
  }
  .inner-img {
    height: 400px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border: 5px solid var(--main-color);
  }
  .icon-club {
    color: var(--main-color);
  }
  .active-players {
    width: 200px;
    height: 100px;
    background-color: var(--dark-color);
  }
}
/* End hero section */

/* General characteristics */
  .line-bf-af {
    color: var(--main-color);
  }
  .line-bf-af::before,
  .line-bf-af::after {
    content: "";
    height: 3px;
    width: 80px;
    background-color: var(--main-color);
  }
  .line-bf-af::before {
    background: linear-gradient(to right , transparent, var(--main-color));
  }
  .line-bf-af::after {
    background: linear-gradient(to left, transparent, var(--main-color));
  }

  .h2-fs{
    font-size: 48px;
    font-weight: 700;
  }
  .spn-color{
    color: var(--main-color);
  }
/* End General characteristics */

/* our game */
#our-game {
  background-color: var(--dark-color);
  .item {
    border-radius: 50px;
    overflow: hidden;
  }

  .absolute-s .iconn {
    color: var(--main-color);
    background-color: rgb(0, 0, 0,.7);
    font-size: 13px;
    font-weight: 700;
  }

  .item img {
    transition: 0.5s;
  }

  .absolute-p {
    font-size: 18px;
    font-weight: 700;
    color:var(--dark-color);
  }
  .absolute-s {
    top: 20px;
    left: 20px;
    transform: translateY(-50px);
    transition: 0.5s;
  }
  .absolute-p {
    bottom: 20px;
    left: 20px;
    transform: translateY(60px);
    transition: 0.5s;
    z-index: 1;
  }
  .item:hover {
    border: 3px solid #cbfe1c;
  }
  .item:hover .absolute-s {
    transform: translateY(0);
  }
  .item:hover .absolute-p {
    transform: translateY(0);
  }
  .item:hover img {
    transform: scale(1.1);
  }

  .item1::after,
  .item2::after,
  .item3::after,
  .item4::after,
  .item5::after,
  .item6::after,
  .item7::after,
  .item8::after,
  .item9::after{
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
      to top,
      rgb(203, 254, 28, 0.7),
      transparent 60%
    );
    opacity: 0;
  }
  .item1:hover::after,
  .item2:hover::after,
  .item3:hover::after,
  .item4:hover::after,
  .item5:hover::after,
  .item6:hover::after,
  .item7:hover::after,
  .item8:hover::after,
  .item9:hover::after{
    opacity: 1;
  }

  .icon-p,
  .icon-n {
    border: 3px solid gray;
    transition: 0.3s;
    &:hover {
      border: 3px solid var(--main-color) !important;
      color: var(--main-color) !important;
    }
  }
  .our-btn {
    border: 3px solid var(--main-color);
    color: var(--main-color);
    transition: 0.3s;
    &:hover {
      background-color: var(--main-color);
      color: var(--dark-color);
    }
  }
}
/* end our game */
/* what we do */
#what-we-do{
    background-color: var(--dark-color);
    .icon-wh-do{
        width: 80px;
        height: 80px;
        background-color: oklch(27.8% .033 256.848);
        font-size: 25px;
        color: var(--main-color);
        transition: .4s;
       
    }
    .inner-wh-do{
        height: 300px;
        overflow: hidden;
        transition: .5s;
    }

    .hov-itm{
        &:hover{
            border: 2px solid var(--main-color);

        }
        &:hover .icon-wh-do{
            background-color: var(--main-color);
            color: oklch(27.8% .033 256.848);
        }
        &:hover .triangle-right{
            top: 20px;
            left: 20px;
            opacity: 1;
        }
         &:hover .triangle-left{
            right: 20px;
            bottom: 20px;
            opacity: 1;
        }
    }
    
    .triangle-right{
        top: -20px;
        left: -20px;
        width: 0;
        height: 0;
        border-bottom:25px solid transparent;
        border-left:25px solid var(--main-color) ;
        opacity: 0;
        transition: .3s;
    }
    .triangle-left{
        right: -20px;
        bottom: -20px;
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-bottom:25px solid var(--main-color) ;
        opacity: 0;
        transition: .3s;
    }
   .glow-circla{
    width: 100%;
    height: 200px;
    background: radial-gradient(circle,var(--main-color),transparent 70%) ;
    filter: blur(60px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   }
}
/*end what we do */
